body {
  background-color: #E9E7E7;
  font-family: 'Bebas Neue';
  margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

.header {
  width: 100%;
  height: 6%;
  background-color: #2b2c2c;
  color: white;
  position: relative;
}

.title {
  width: 70%;
  position: relative;
  margin: 0 auto;
}

.titleWithIn{
  width: auto;
  height: auto;
  position: absolute;
  font-family: 'Ubuntu';
  margin: 0 auto;
  opacity: 1;
  font-weight: 900;
  color: black;
  font-size: 50px;
}

.logoContainer{
  float: left;
  width: 100%;
  height: 100%;
  margin-left: 0.25%;
  margin-top: 0.25%;
  overflow: auto;
  animation: logoin 1.5s;
}

@keyframes logoin {
  0% {left: 300px;}
  100% {left: 0px;}
}

.rightContainer{
}

.teslabar{
  float: left;
  height: 150px;
  width: 150px;
  background-color: white;
  border-radius: 7.5px;
  margin: 20px 20px 20px 20px;
  overflow: auto;
  animation: teslabarin 1.5s;
  background-image: url("Images/TeslaLogo.png");
  background-size: 150px 150px;
  background-repeat: no-repeat;
  left: auto;
}

.teslabar:hover{
  background-color: #BBCBF4;
  font-weight: 700;
  text-shadow: 1px 0.5px #CCCCCC;
  background-image: url("Images/TeslaLogo1.png");
}

@keyframes teslabarin{
  0% {left: 25px;}
  100% {left: 0px;}
}

.spacexbar{
  float: left;
  height: 150px;
  width: 150px;
  background-color: white;
  border-radius: 7.5px;
  margin: 20px 20px 20px 20px;
  overflow: auto;
  animation: spacexbarin 1.5s;
  background-image: url("Images/SpaceXLogo.png");
  background-size: 150px 150px;
  background-repeat: no-repeat;
  left: auto;
}

.spacexbar:hover{
  background-color: #BBCBF4;
  font-weight: 700;
  text-shadow: 1px 0.5px #CCCCCC;
  background-image: url("Images/SpaceXLogo1.png");
}

@keyframes spacexbarin{
  0% {left: 25px;}
  100% {left: 0px;}
}

.boringbar{
  float: left;
  height: 150px;
  width: 150px;
  background-color: white;
  border-radius: 7.5px;
  margin: 20px 20px 20px 20px;
  overflow: auto;
  animation: spacexbarin 1.5s;
  background-image: url("Images/boring.png");
  background-size: 150px 150px;
  background-repeat: no-repeat;
  left: auto;
}

.boringbar:hover{
  background-color: #BBCBF4;
  font-weight: 700;
  text-shadow: 1px 0.5px #CCCCCC;
  background-image: url("Images/boring1.png");
}

.elonbar{
  float: left;
  height: 150px;
  width: 150px;
  background-color: white;
  border-radius: 7.5px;
  margin: 20px 20px 20px 20px;
  overflow: auto;
  animation: spacexbarin 1.5s;
  background-image: url("Images/elontab.png");
  background-size: 150px 150px;
  background-repeat: no-repeat;
  left: auto;
}

.elonbar:hover{
  background-color: #BBCBF4;
  font-weight: 700;
  text-shadow: 1px 0.5px #CCCCCC;
  background-image: url("Images/elontab2.png");
}

@keyframes spacexbarin{
  0% {left: 25px;}
  100% {left: 0px;}
}

table {
  margin: 0 auto;
  border-spacing: 35px 0px;
}

tr {
  vertical-align: middle;
  margin: 0 auto;
}

th {
  color: white;
  font-size: 27px;
  padding: 5px;
  margin: 0 auto;
}

th.farright {
  border-right: 1px solid white;
  margin: 0 auto;
}

a.elonTopBar{
  color: white;
  text-align: center;
  text-decoration: none;
}
