body {
  background-color: #E9E7E7;
  font-family: 'Oxygen';
  margin: 0;
}

.header {
  width: 100%;
  height: 45px;
  background-color: #484848;
  color: white;
}



.title {
  animation: titlein;
  font-size: 50px;
  width: 450px;
  color: #918E8E;
  text-align: center;
  margin: 0 auto;
  font-weight: 900;
  font-family: 'Ubuntu';
  border-bottom: 3px solid #918E8E;
}

.title:hover{
  font-size: 60px;
  color: #535050;
  animation: titleout 2s;
  border-bottom: 3px solid #535050;
  width: 700px;
}

@keyframes titleout {
  0% {font-size: 50px; color: #918E8E; border-bottom: 3px solid #918E8E;width: 450px;}
  100% {font-size: 60px; color: #535050; border-bottom: 3px solid #535050; width: 700px;}
}

@keyframes titlein {
  0% {font-size: 60px; color: #535050; border-bottom: 3px solid #535050; width: 700px;}
  100% {font-size: 50px; color: #918E8E; border-bottom: 3px solid #918E8E;width: 450px;}
}

.logoContainer{
  display: inline-block;
  margin: 1px 2px 2px 10px;
  padding: 1px 1px 1px 1px;
  animation: logoin 3s;
  animation-timing-function: ease;
}

@keyframes logoin {
  0% {left: 500px;}
  100% {left: 0px;}
}

.rightContainer{

}

.leftbar{
  float: left;
  min-height: 100px;
  width: 200px;
  background-color: white;
  border-radius: 7.5px;
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
  overflow: auto;
  position: absolute;
  animation: leftbarin 1.5s;
}

.leftbar:hover{
  background-color: #BBCBF4;
  font-weight: 700;
  text-shadow: 1px 0.5px #CCCCCC;
}

@keyframes leftbarin{
  0% {left: 25px;}
  100% {left: 0px;}
}
